.logo{
    display: flex;
    width: 300px;
    font-size: 36px;
    font-family:'Poppins';
    font-weight: 700;
    color: var(--logo-primary-color);
    text-transform: uppercase;
    
}

.nav{
    padding-top: 30px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    color: var(--font-primary-color);
    font-size: 21px;
    flex-direction: row;
    align-items: center;
}
.left-side, .right-side {
    flex: 1;
}

.button {
    display: flex;
    background: var(--logo-primary-color);
    height: 52px;
    width: 188px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.header-container {
    display: flex;
    justify-content: space-between;
}
.banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner-image-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.banner-image {
    max-width: 90%;
}
.banner-title{
    font-size: 40px;
    color: var(--font-primary-color);
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 120px;
    margin-bottom: 20px;
    gap: 12px;
}
.banner-desc{
    font-size: 18px;
    color: var(--font-secondary-color);
    display: flex;
    margin-bottom: 30px;
}
.orange-text{
    color: var(--logo-primary-color);
    font-weight: 800;
}
.banner-3{
    display: flex;
    max-width: 50%;
    font-weight: 300;
    font-size: 24px;
    text-transform: uppercase;
    color: white;
    gap: 10px;
    margin-bottom: 30px;
}

.portfolio-button-container {
    display: flex;
    gap: 10px;
    height: 52px;
    width: 230px;
    margin-top: 20px;
    background-size: 200px;
    background-color: #333333;
    border-radius: 50px;
    border: 2px solid grey;
    flex-wrap: nowrap;
}

.portfolio-button, .hireme-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px 10px 10px;
    color: var(--font-primary-color);
    background-color: var(--logo-primary-color);
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    height: 100%;
    flex-wrap: nowrap;
}

.hireme-button {
    background-color: #333333;
    flex-wrap: nowrap;
}

.social-button{
    display: flex;
    font-size: 32px;
    gap: 20px;
    padding: 0px 10px;
    margin-top: 20px;
    width: 200px;
    color: var(--logo-secondary-color);
}

.banner-image-container{
    display: flex;
    justify-content: flex-end;
}
.banner-image{
    min-width: 400px;
    max-width: 600px;
}

.banner-main{
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    justify-content: end;
}

/* .ribbon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
    position: static;
    width: 90%;
}

.ribbon {
    font-size: 32px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    padding: 10px 20px;
    transform: rotate(-5deg);
    white-space: nowrap;
}
.ribbon span{
    font-weight: 400;
    margin: 0px 20px;
} */

.about-me-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.about-me-text, .experience {
    flex: 1;
    padding-top: 40px;
    color: var(--font-primary-color);
}
.about-me-text h1{
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 0px 0px 20px;
}
.about-me-text p{
    font-size: 16px;
    color: var(--font-secondary-color);
}
.experience {
    font-size: 20px;
    text-align: right;
}
.experience h1{
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;

}
.experience i{
    color: var(--logo-primary-color);
}

.experience-container-bg {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(#FFB1471A,#FF6C631A,#B86ADF1A);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .experience-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: var(--font-primary-color);
    padding: 10px;
  }
  .left-column {
    flex: 1;
    padding-right: 60px;
    text-align: left;
  }
  .right-column {
    flex: 1;
    font-size: 20px;
    position: relative;  
  }
  
  h1 {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 20px;
    padding-bottom: 20px;
  }
  p {
    line-height: 1.5;
  }
  
  .job {
    padding: 20px;
    margin: 10px 20px 10px;
    border-bottom: 1px solid var(--font-secondary-color);
  }
  
  .job-period {
    color: white;
    font-weight: 500;
    text-align: left;
    border-top: 2px;
    border-color: white;
    font-style: italic;
  }
  
  .job-title {
    font-size: 32px;;
    color: var(--font-primary-color);
    font-weight: 700;
    padding: 10px;
    display: flex;
    margin: 10px 5px;
  }
  
  .company {
    color: var(--font-secondary-color);
    align-content: flex-end;
    text-align: right;
    padding-left: 40%;
  }

  .awards-container{
    display: flex;
    color: var(--font-primary-color);
    padding: 10px;
    margin: 60px;
    justify-content: space-around;
    align-content: center;
  }
  .awards {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    text-align: center; /* Center text within elements */
    padding: 20px; /* Optional: Adds some space around the content */
    
}

.awards h1{
    text-transform: uppercase;
    font-size: 40px;
}
.awards p.awards-desc {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px; /* Adds some space below the title and description */
}

  .awards-list-1, .awards-list-2 {
    color: var(--font-primary-color);
    background-color: black;
    padding: 10px;
    margin: 20px; /* Removed unnecessary repetition */
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; /* Moved justify-content here as it was misplaced */
    
}

.awards-title, .awards-period{
    color: var(--font-primary-color);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Added justify-content here as it was missing */
    margin: 10px;
}
.awards-title {
    font-size: 24px;

}
.awards-period{
    font-size: 16px;
    align-items: center;
    font-weight: 600;
}
p {
    display: inline-block;
    max-width: 600px;
    color: var(--font-secondary-color);
    margin: 20px;
    text-align: left;
}


@media only screen and (min-width: 200px) and (max-width: 576px) {
    .header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap; /* Ensure elements wrap on smaller screens */
    }
    
    .banner-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .banner-image-container {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        flex: 1;
    }
    
    .banner-image {
        max-width: 100%;
        height: auto;
    }
    .nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
        .social-button-container {
            text-align: center; /* Center the social buttons */
        }
        .social-button {
            justify-content: center; /* Center the social icons */
        }
}